@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary,
    .btn-secondary,
    .btn-secondary-white {
        @apply font-poppins text-[1rem] font-medium inline-block leading-[3rem] px-7 notebook:px-9 rounded-full;
    }

    .btn-primary {
        @apply text-[#855B35] bg-brand-yellow hover:bg-[#FFDC5C] transition-colors duration-300;
    }

    .btn-secondary {
        @apply text-white border border-white bg-transparent hover:bg-white hover:text-brand-green-light transition-colors duration-300;
    }
    
    .s-hero {
        background-image: url(/img/bg-hero-mobile.svg);
    }
    @media(min-width: 768px){
        .s-hero {
            background-image: url(/img/bg-hero-tablet.svg);
        }
    }

    .s-card-pejota {
        background-image: url(/img/bg-neon-pj-mobile.svg);
    }

    .bg-conta-digital {
        background-image: url(/img/circle-neon-mobile.svg);
    }

    .icon-dots:before {
        background: url('/img/dots.svg') no-repeat center;
    }
}

@layer utilities {
    .grid-container {
        @apply px-5 tablet:px-10 notebook:max-w-[1246px] notebook:mx-auto;
    }
}
.swiper-pagination-bullet {
    @apply bg-brand-yellow opacity-30 rounded-xl transition-all duration-300 block relative;
}

.swiper-pagination-bullet-active {
    @apply opacity-100 w-[1rem];
}
.swiper-slide {
    height: auto;
}